<!DOCTYPE html>
<html>
<head>
    <title>TW Map Display</title>
    <link rel='stylesheet' href='/main.css'/>
    <link rel='stylesheet' href='/path.css'/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <script src="/lib/jquery-3.1.1.js"></script>
    <script src="/lib/jquery-ui.js"></script>
    <script src="/lib/raphael.min.js"></script>
    <script src="/lib/kartograph.min.js"></script>
    <script src="/lib/chroma.js"></script>
    <script src="/code/universalLoader.js"></script>
</head>
<body class="background">
<header></header>
<div class="mainbody">
    <h2>Welcome</h2>
    <hr>
    <p>
        to Twitter Watson, where you can see how America feels about the hottest topics!
        <br>
        <br>
        Go to /map/[hashtag] to view a map of America's feelings on a certain Twitter hashtag. For example: <a href="/map/trump">/map/trump</a>
    </p>
    <div id="mapbody">


    </div>
</div>
<footer></footer>
</body>
</html>
